
# ignore Maven generated target folders
~
target

# ignore eclipse files
.project
.classpath
.settings
.metadata
.checkstyle

# ignore m2e annotation processing files
.factorypath

# ignore IDEA files
*.iml
*.ipr
*.iws
.idea

# ignore NetBeans files
nbactions.xml
nb-configuration.xml
catalog.xml

# temp files
*~

*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#log files
*.log

/tireservice-service/nbproject/